@use '_theme' as t;

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: t.$background-color;
    color: t.$on-background-color;
}

header,
main {
    display: grid;
    grid-template-columns: minmax(16rem, 1fr) minmax(16rem, 2fr) minmax(16em, 1fr);
    column-gap: 1.5rem;
}

header {
    height: 4rem;
    background-color: t.$primary-color;
    color: t.$on-primary-color;

    .logo {
        justify-self: end;
        align-self: center;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-background); // Matches your background color
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); // Slightly visible but not too bright
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3); // Slightly brighter on hover
}


main {
    height: 0;
    flex: 1;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    column-gap: 2rem;

    > div {
        overflow-y: scroll;
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}
